page-home {

  .contentFix {
    max-width: 1280 !important;
    display: inline-block;
    background-color: #F2F2F2;
  }


  .con {
    text-align: center;
    width: 100%;
  }

  div {
    display: inline-block;
  }


}
